.section {
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--gutter));
    width: var(--one-column-body-width);

    /* flex parent */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    /* flex child */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(8.545rem - var(--header-height)); /* 188 / 22 */

    /* flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2 {
    font-size: 1.091rem; /* 24 / 22 */
    margin: 0;
}

.primary-resources {
    /* flex child */
    flex: 0 0 16.18rem; /* 356 / 22 */

    /* flex parent */
    display: flex;
}

.primary-resource-group {
    height: 16.182rem; /* 356 / 22 */
    width: 29.545rem; /* 650 / 22 */
    background-color: #1e1e1e;
    margin: 0 0.5rem; /* 11 / 22 */
}

.primary-resource-group:first-of-type {
    margin-left: 1rem;
}

.primary-resource-group:last-of-type {
    margin-right: 1rem;
}

.primary-resource-cards {
    padding: 0 1rem; /* 22 / 22 */

    /* flex parent */
    display: flex;
}

.primary-resource-group-title {
    font-size: 1rem; /* 22 / 22 */
    margin: 0.5rem 0; /* 11 / 22 */
    text-align: center;
}

.primary-resource-card {
    height: 12.727rem; /* 280 / 22 */
    width: 13.272rem; /* 292 / 22 */
    padding: 1rem; /* 22 / 22 */
    background-color: #171717;

    /* flex parent */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-resource-card:last-of-type {
    margin: 0 0 0 1rem; /* 22 / 22 */
}

.primary-resource-card-image-container {
    /* flex child */
    flex: 1 0 auto;

    /* flex parent */
    display: flex;
}

.primary-resource-card-image {
    width: 6.954rem; /* 153 / 22 */
    height: 6.318rem; /* 139 / 22 */
}

.primary-resource-card-text {
    /* flex child */
    flex: 0 0 3.14rem; /* 69 / 22 */
}

.primary-resource-card-title {
    font-size: 0.818rem; /* 18 / 22 */
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.primary-resource-card-description {
    font-size: 0.727rem; /* 16 / 22 */
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.footer {
    /* flex child */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10.182rem; /* 224 / 22 */

    /* flex parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 1rem; /* 22 / 22 */
}

.related-resources-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.727rem; /* 16 / 22 */
    line-height: 1.63;
    font-weight: 300;
}

.related-resource-label {
    font-weight: 600;
}
