{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-import", {
      "camel2DashComponentName": false,
      "libraryDirectory": "",
      "libraryName": "lodash"
    }, "lodash"],
    ["babel-plugin-import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }, "antd"]
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-typescript"
  ],
  "env": {
    "commonjs": {
      "presets": [["@babel/preset-env", { "modules": true }]]
    }
  }
}