:global(.actb), 
:global(.actin-filaments) {
        color: var(--actb);
}

:global(.actn1),
:global(.actin-bundles) {
    color: var(--actn1);
}

:global(.cent2),
:global(.centrosome) {
    color: var(--cent2);
}

:global(.ctnnb1),
:global(.adherens-junctions) {
    color: var(--ctnnb1);
}

:global(.dsp),
:global(.desmosomes) {
    color: var(--dsp);
}

:global(.fbl),
:global(.nucleolus) {
    color: var(--fbl);
}

:global(.gja1),
:global(.gap-junction) {
    color: var(--gja1);
}

:global(.lamp1),
:global(.lysosome) {
    color: var(--lamp1);
}

:global(.lmnb1),
:global(.nuclear-envelope) {
    color: var(--lmnb1);
}

:global(.myh10),
:global(.actomyosin-bundles) {
    color: var(--myh10);
}

:global(.sec61b),
:global(.er),
:global(.endoplasmic-reticulum) {
    color: var(--sec61b);
}

:global(.st6gal1),
:global(.golgi) {
    color: var(--st6gal1);
}

:global(.tjp1),
:global(.tight-junctions) {
    color: var(--tjp1);
}

:global(.tomm20),
:global(.mitochondria) {
    color: var(--tomm20);
}
:global(.tuba1b),
:global(.microtubules) {
    color: var(--tuba1b);
}

:global(.dna) {
    color: var(--dna);
}
