/**
    CONSTANT LAYOUT
 */
.section {
    --background-color: #1e1e1e;
    --text-color: #999999;

    position: absolute;
    transition: top 2s;
    background: var(--background-color);
    top: calc(var(--header-height) + var(--gutter) * 2);
    padding: 0 var(--gutter);
    overflow-y: hidden;
    color: var(--text-color);
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    transition: top 1.5s;
    top: 1em;
}

.two-column-layout {
    composes: two-column-body-width from "../../styles/size.css";
    bottom: var(--gutter);
    right: var(--gutter);
}

.one-column-layout {
    composes: full-width from "../../styles/size.css";
    composes: one-column-body-height from "../../styles/size.css";
}

.inline-video {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}

.inline-image {
    width: 100%;
}

/**
    ANIMATION HOOKS
 */
.initial {
    top: 300vh; /* waaay below viewport */
}

.exited {
    top: -300vh; /* waaay above viewport */
}
