/**
 *  CONSTANT LAYOUT
 */
.section {
    --background-color: #1e1e1e;
    --text-color: #999999;

    position: absolute;
    transition: top 2s;
    background: var(--background-color);
    top: var(--header-height);
    padding: 0 calc(var(--gutter) / 2);
    overflow-y: hidden;
    color: var(--text-color);

    /*
     * https://github.com/ccurtin/postcss-responsive-font
     * min-font-size max-font-size min-viewport-width max-viewport-width
     * Cannot use custom properties for values.
     */
    font-size-responsive: 0.5em 1.8em 480px 1280px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    transition: top 1.5s;

    /* vertical centering */
    top: 50%; /* push top to middle of its container */
    transform: translateY(-50%); /* nudge up 50% of content height to accomplish vertical centering */
}

.content p:last-of-type {
    margin-bottom: 0;
}

.two-column-layout {
    height: var(--two-column-body-height);
    width: var(--two-column-body-width);

    /* tether to right edge of video */
    left: calc(var(--video-width) - var(--gutter)); /* push all the way to the left edge of the video, minus gutter */
    transform: translateX(-100%); /* pull back in 100% of content width to accomplish tethering to right edge of video */
}

.one-column-layout {
    width: var(--one-column-body-width);
    height: var(--one-column-body-height);
    left: var(--gutter);
}

.inline-video {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}

.inline-image {
    width: 100%;
}

/**
 *  ANIMATION HOOKS
 */
.initial {
    top: 300vh; /* waaay below viewport */
    opacity: 0;
}

.exited {
    top: -300vh; /* waaay above viewport */
    opacity: 0;
}
