.container {
    margin: 0.41rem auto 0 auto;
    width: 14.727rem;
}
.checkbox-group {
    width: 100%;
    margin-top:-1rem;
}

.container label {
    font-size: 0.727rem;
}

.checkbox-group,
.checkbox-group label {
    width: 100%;
    font-size: 0.727rem;
    /* letter-spacing: -0.7px; */
}

.check-box-row {
    margin-top: 0.05rem;
}

.sub-title {
    font-weight: 600;
    margin-bottom: 0.45rem;
}
.preset-title {
    margin-top: 1rem;
}
.container button, 
.preset-title{
    font-size: 0.727rem;
    margin-top: 0.32rem;
}

.container :global(.ant-checkbox-inner) {
    width: 0.727rem;
    height: 0.727rem;
}

.container :global(.ant-checkbox-inner)::after {
    width: 0.26rem;
    height: 0.41rem;
}

.container :global(.actb) :global(.ant-checkbox-inner) {
        background-color: var(--actb);
}

.container :global(.actn1 .ant-checkbox-inner) {
    background-color: var(--actn1);
}
.container :global(.cent2 .ant-checkbox-inner) {
    background-color: var(--cent2);
}
.container :global(.ctnnb1 .ant-checkbox-inner) {
    background-color: var(--ctnnb1);
}
.container :global(.dsp .ant-checkbox-inner) {
    background-color: var(--dsp);
}
.container :global(.fbl .ant-checkbox-inner) {
    background-color: var(--fbl);
}
.container :global(.gja1 .ant-checkbox-inner) {
    background-color: var(--gja1);
}
.container :global(.lamp1 .ant-checkbox-inner) {
    background-color: var(--lamp1);
}
.container :global(.lmnb1 .ant-checkbox-inner) {
    background-color: var(--lmnb1);
}
.container :global(.myh10 .ant-checkbox-inner) {
    background-color: var(--myh10);
}
.container :global(.sec61b .ant-checkbox-inner) {
    background-color: var(--sec61b);
}
.container :global(.st6gal1 .ant-checkbox-inner) {
    background-color: var(--st6gal1);
}
.container :global(.tjp1 .ant-checkbox-inner) {
    background-color: var(--tjp1);
}
.container :global(.tomm20 .ant-checkbox-inner) {
    background-color: var(--tomm20);
}
.container :global(.tuba1b .ant-checkbox-inner) {
    background-color: var(--tuba1b);
}
.container :global(.dna .ant-checkbox-inner) {
    background-color: var(--dna);
}
.container :global(.memb .ant-checkbox-inner) {
    background-color: var(--memb);
}
