.container {
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--gutter));
    width: var(--one-column-body-width);

    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2em; 
}

.viewer-and-controls {
    /* flex child */
    flex: 1 0 auto;

    /* flex parent */
    display: flex;
    justify-content: space-around;
}

.controls {
    /* flex parent */
    display: flex;
}

.viewer-col {
    display: flex;
    flex-direction: column;
}

.viewer {
    /* flex child */
    flex: 1 0 auto;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.button-row button {
    margin-left: 10px;
}