.container {
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--gutter));
    width: var(--one-column-body-width);
    display: flex;
    flex-direction: column;
    font-size: 0.727rem;
}

.container button, .container label {
    font-size: 0.727rem;
    padding: 0 0.68rem;
}

.container button{    
    height: 1.72rem;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.viewer-and-controls {
    /* flex child */
    flex: 1 0 auto;

    /* flex parent */
    display: flex;
}

.controls {
    /* flex parent */
    display: flex;
}

.viewer-col {
    display: flex;
    flex-direction: column;
        width: 31rem;
        height: 27.32rem;
}

.viewer {
    /* flex child */
    flex: 1 0 auto;

}

.button-row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.button-row button {
    margin-left: 10px;
}

/* ant d overrides that couldnt be accomplished in theme file */
.container :global(.ant-btn):hover, 
.container :global(.ant-btn):focus,
.container :global(.ant-btn):active {
    color: #fff;
}

.button-row :global(.ant-radio-group) {
    height: 1.72rem;
}

.button-row :global(.ant-radio-button-wrapper) {
    height: 100%;
}
.button-row :global(.ant-radio-button-wrapper) span {
    line-height: 1.36rem;
}

.button-row :global(.ant-radio-group-solid) :global(.ant-radio-button-wrapper-checked):not(:global(.ant-radio-button-wrapper-disabled)):hover,
.button-row :global(.ant-radio-group-solid) :global(.ant-radio-button-wrapper-checked):not(:global(.ant-radio-button-wrapper-disabled)):active,
.container :global(.ant-radio-group-solid) :global(.ant-radio-button-wrapper-checked) {
    background: #2e2e2e;
    color: #f2f2f2;
    border-color: #2e2e2e;
    box-shadow: -1px 0 0 0 #2e2e2e;
}