.container {
    display: flex;
    flex-direction: column;
    margin-top: 0.41rem;
}
.steps {
    width: initial;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 21.59rem;
    justify-content: space-between;
}
.steps :global(.stage-icon) {
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.86rem;
    width: 4.36rem;
    padding: 0;
    background-color: black;
    line-height: 1rem;
    /* to get the multiline text to the base of the box.  */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-left: initial;
    box-shadow: none;
    border-radius: 4px;
    border: solid 2px var(--background-color);
 }

 .steps :global(.ant-radio-button-wrapper-checked) {
    border: solid 2px #676767;
 }

 .steps span {
    font-size: 0.636rem;
 }

 .stages-buttons {
    padding: 0.54rem 0;
 }

 .stages-buttons button{
    height: 1.72rem;
    width: 1.72rem;
}
.stages-buttons :global(.ant-btn):not(:global(.ant-btn-circle)):not(:global(.ant-btn-circle-outline)):global(.ant-btn-icon-only) {
    padding: 0 0.36rem;
}

 .sub-title {
     text-align: center;
 }

.steps :global(.prophase-icon) {
    background-image: url("/assets/prophase-icon.png");
}

.steps :global(.metaphase-icon) {
    background-image: url("/assets/metaphase-icon.png");
}

.steps :global(.interphase-icon) {
    background-image: url("/assets/interphase-icon.png");
}
.steps :global(.prometaphase-icon) {
    background-image: url("/assets/prometaphase-icon.png");
}
.steps :global(.anaphase-icon) {
    background-image: url("/assets/anaphase-icon.png");
}