.container {
    display: flex;
    flex-direction: column;
}
.steps {
    width: initial;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.steps :global(.stage-icon) {
    background-size: contain;
    background-repeat: no-repeat;
    height: 4.7rem;
    width: 4.7rem;
    display: block;
    background-color: black;
 }

 .steps span {
    line-height: 8rem;
    font-size: 0.636rem;
 }

 .stages-buttons {
    padding: 0.54rem;
 }

 .stages-buttons button{
    height: 1.72rem;
    width: 1.72rem;
 }

 .sub-title {
     text-align: center;
 }

.steps :global(.prophase-icon) {
    background-image: url("/assets/prophase-icon.png");
}

.steps :global(.metaphase-icon) {
    background-image: url("/assets/metaphase-icon.png");
}

.steps :global(.interphase-icon) {
    background-image: url("/assets/interphase-icon.png");
}
.steps :global(.prometaphase-icon) {
    background-image: url("/assets/prometaphase-icon.png");
}
.steps :global(.anaphase-icon) {
    background-image: url("/assets/anaphase-icon.png");
}