.base {
    height: var(--video-height);
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: opacity 1s;
    object-fit: contain;
    object-position: top left;
}

.initial {
    top: 300vh; /* waaay below viewport */
}

.entered {
    opacity: 1;
}

.exiting-down,
.exiting-up,
.exited,
.initial {
    opacity: 0;
}

.exited {
    top: -300vh; /* waaay above viewport */
}
