.full-height {
    height: calc(100% - 2 * var(--gutter));
}

.one-column-body-height {
    height: calc(19.53125% - 2 * var(--gutter));
}

.full-width {
    width: calc(100% - 2 * var(--gutter));
}

.two-column-body-width {
    width: calc(31.19% - 2 * var(--gutter));
}
