:root {
    --actb: #FFEE1E;
    --actn1: #bbcd22;
    --cent2: #F07C4C;
    --ctnnb1: #FD92B6;
    --dsp: #f0486e;
    --fbl: #0099ff;
    --gja1: #c26cff;
    --lamp1: #ffc35c;
    --lmnb1: #33ffff;
    --myh10: #ff6633;
    --sec61b: #537eff;
    --st6gal1: #61d900;
    --tjp1: #FD61D6;
    --tomm20: #FF4d4d;
    --tuba1b: #ff9900;
    --actin-filaments: var(--actb);
    --actin-bundles: var(--actn1);
    --centrosome: var(--cent2);
    --adherens-junctions: var(--ctnnb1);
    --desmosomes: var(--dsp);
    --nucleolus: var(--fbl);
    --gap-junction: var(--gja1);
    --lysosome: var(--lamp1);
    --nuclear-envelope: var(--lmnb1);
    --actomyosin-bundles: var(--myh10);
    --er: var(--sec61b);
    --endoplasmic-reticulum: var(--sec61b);
    --golgi: var(--st6gal1);
    --tight-junctions: var(--tjp1);
    --mitochondria: var(--tomm20);
    --microtubules: var(--tuba1b);
    --dna: #aeaeae;
    --memb: #ff44ff;
}
