:root {
    --actb: #FFEE1E;
    --actn1: #eeeb78;
    --cent2: #FF8C75;
    --ctnnb1: #FD92B6;
    --dsp: #FF7296;
    --fbl: #6CB1FD;
    --gja1: #D153FB;
    --lamp1: #FFB87D;
    --lmnb1: #33ffff;
    --myh10: #F07C4C;
    --sec61b: #98B1FD;
    --st6gal1: #84FF84;
    --tjp1: #FD61D6;
    --tomm20: #FF7070;
    --tuba1b: #ff9900;
    --actin-filaments: var(--actb);
    --actin-bundles: var(--actn1);
    --centrosome: var(--cent2);
    --adherens-junctions: var(--ctnnb1);
    --desmosomes: var(--dsp);
    --nucleolus: var(--fbl);
    --gap-junction: var(--gja1);
    --lysosome: var(--lamp1);
    --nuclear-envelope: var(--lmnb1);
    --actomyosin-bundles: var(--myh10);
    --er: var(--sec61b);
    --endoplasmic-reticulum: var(--sec61b);
    --golgi: var(--st6gal1);
    --tight-junctions: var(--tjp1);
    --mitochondria: var(--tomm20);
    --microtubules: var(--tuba1b);
    --dna: #999999;
    --memb: #bfa0d0;
}
