.container {
    --background-color: #1e1e1e;
    --font-weight: 300;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--gutter));
    width: var(--one-column-body-width);
    margin: auto;
}

.container :global(.ant-card-body) {
    display: none;
}

.title {
  background: var(--background-color);
  padding: 0 var(--gutter);
  font-weight: var(--font-weight);
  font-size: 1rem;
}

.grid {
  margin-top: 1.18rem;
}

.grid-label {
  width: 100%;
  display: inline-block;
  font-size: 0.59rem;
  font-weight: 300;
  color: #a4a4a4;
}

.grid-protein-label {
  text-align: center;
}

.row {
  margin-top: 1em;
}

.row span {
  font-size: 0.59rem;
}