.container {
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--gutter));
    width: var(--video-width);

    color: white;
}

.container :global(.ant-card-body) {
    display: none;
}
