.button {
    --disabled-fill: #3e3e3e;
    --enabled-fill: #9b9b9b;

    background-color: var(--enabled-fill);
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;

    /*
     * https://github.com/ccurtin/postcss-responsive-font
     * min-font-size max-font-size min-viewport-width max-viewport-width
     * Cannot use custom properties for values.
     */
    font-size-responsive: 8px 16px 400px 1366px;
    width: 1em;
    height: 1.1875em;
}

.button.disabled {
    background-color: var(--disabled-fill);
    cursor: not-allowed;
}