.container {
    --inactive-fill: #737373;
    --section-selected-fill: #c3c3c3;
    --chapter-selected-fill: #f2f2f2;
    --chapter-selected-not-focused: #3e3e3e;
    --chapter-label-selected: #f2f2f2;
}

.chapter-rect {
    fill: var(--inactive-fill);
    fill-opacity: 1;
    transform: translateY(-1px); /* vertical centering */
}

.section-selected {
    fill: var(--section-selected-fill);
}

.chapter-selected {
    fill: var(--chapter-selected-fill);
    transform: translateY(-2px); /* vertical centering */
}

.chapter-hovered {
    transform: translateY(-2px); /* vertical centering */
}

.hit-rect {
    cursor: pointer;
    fill: none;
}

.label {
    fill: #dbdbdb;
    fill-opacity: 0;
    font-size: 16px;
    font-weight: 300;
    text-anchor: middle;
}

.label-hovered {
    fill-opacity: 1;
    fill: var(--chapter-selected-fill);
}

.label-active {
    fill-opacity: 1;
    fill: var(--chapter-label-selected);
}

/* This chapter is selected but user is current hovering over another one. */
.label-selected-but-not-focused {
    fill-opacity: 1;
    fill: var(--chapter-selected-not-focused);
}