.container {
    --arrow-margin: 0.5em;

    margin-left: 2em;

    /* flex parent */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    flex: 0 0 auto;
    align-self: center;
}

.arrow.left {
    margin-right: var(--arrow-margin);
}

.arrow.right {
    margin-left: var(--arrow-margin);
}

.main-nav {
    flex: 0 0 auto;
    width: calc((805 / 1366) * var(--video-width));
    height: auto;
    max-height: 50px;
}

@media screen and (max-width: 910px) {
    .main-nav {
        width: calc((740 / 1366) * 100vmin);
    }
}

@media screen and (max-width: 700px) {
    .main-nav {
        width: calc((700 / 1366) * 100vmin);
    }
}

@media screen and (max-width: 570px) {
    .main-nav {
        width: calc((680 / 1366) * 100vmin);
    }
}