.container {
    /* labels */
    --label-color: #7f7f7f;
    --label-color-active: #ffffff;
    --label-font-size-chapter: 14px;
    --label-font-size-section: 20px;
    --label-font-weight: 300;
    --label-opacity-chapter: 0;
    --label-opacity-chapter-active: 1;

    /* dot */
    --dot-fill: var(--background-color);
    --dot-stroke: #c3c3c3;
    --dot-stroke-width: 1px;
    --dot-fill-active: #c3c3c3;

    /* line */
    --line-color: #c3c3c3;

    cursor: pointer;
}

/* LABELS */
.label {
    fill: var(--label-color);
    fill-opacity: 1;
    font-weight: var(--label-font-weight);
    text-anchor: middle;
}

.active-label {
    fill: var(--label-color-active);
}

.chapter-label {
    composes: label;
    font-size: var(--label-font-size-chapter);
    fill-opacity: var(--label-opacity-chapter);
}

.chapter-label.active-label {
    fill-opacity: var(--label-opacity-chapter-active);
}

.section-label {
    composes: label;
    font-size: var(--label-font-size-section);

}

/* LINES */
.line {
    stroke: var(--line-color);
}

/* DOTS */
.dot {
    fill: var(--dot-fill);
    stroke: var(--dot-stroke);
    stroke-width: var(--dot-stroke-width);
}

.active-dot {
    fill: var(--dot-fill-active);
}
