.container {
    --fifty-pct-black: #7f7f7f;
    --white: #ffffff;
    --fade-out-opacity: 0.6;
}

/* LABELS */
.label {
    fill: #D9D9D9;
    fill-opacity: var(--fade-out-opacity);
    text-anchor: middle;
}

.inactive-label {
    fill-opacity: 1;
}

.chapter-label {
    composes: label;
    font-size: 16px; /* TODO: make responsive */
}

.section-label {
    composes: label;
    font-size: 22px;  /* TODO: make responsive */
}

/* LINES */
.line {
    stroke: white;
}

/* DOTS */
.dot {
    fill: var(--fifty-pct-black);
}

.active-dot {
    fill: white;
}
