.container {
    --arrow-margin: 0.5em;

    margin-left: 2em;

    /* flex parent */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    flex: 0 0 auto;
    align-self: center;
}

.arrow.left {
    margin-right: var(--arrow-margin);
}

.arrow.right {
    margin-left: var(--arrow-margin);
}

.main-nav {
    flex: 1 1 auto;
}
