.section {
    --copy-color: #f2f2f2;

    top: 0;
    height: var(--video-height);
    width: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: var(--video-width);
    margin: 0 auto;
}

.button {
    border: none;
    border-radius: 4px;
    background-color: #2e2e2e;
    cursor: pointer;

    color: var(--copy-color);
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    text-align: center;

    /* any em based values must go below font-size declaration */
    position: absolute;
    top: 4em;
    width: 12.72em; /* 280 / 22 */
    max-width: 280px;
    height: 3em; /* 66 / 22 */
    max-height: 66px;
}

.button.left {
    left: 8em;
}

.button.right {
    right: 8em;
}

.heading {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -2em);

    /* flex parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-hint {
    font-size: 0.9em; /* 20 / 22 */
}

p.scroll-hint {
    color: var(--copy-color);
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    margin: 0;
}

svg.scroll-hint {
    height: 1em;
}

.scroll-hint path {
    fill: var(--copy-color);
}

.title {
    width: 100%;
    margin: 0 0 0.25em 0;
    color: var(--copy-color);
    font-size: 2.72em; /* 60 / 22 */
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
}
