.section {
    top: 0;
    height: var(--video-height);
}

.container {
    position: relative;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.button {
    /* container */
    position: absolute;
    top: 22px;

    width: calc(0.20497 * var(--video-width));
    max-width: 280px;
    height: calc(0.0859375 * var(--video-width));
    max-height: 66px;
    border: none;
    border-radius: 4px;
    background-color: #2e2e2e;
    cursor: pointer;

    /*
     * https://github.com/ccurtin/postcss-responsive-font
     * min-font-size max-font-size min-viewport-width max-viewport-width
     * Cannot use custom properties for values.
     */
    font-size-responsive: 16px 22px 400px 1366px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
}

.button.left {
    left: 0;
    transform: translateX(-50%);
}

.button.right {
    right: 0;
    transform: translateX(50%);
}

.scroll-hint {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    margin: 0;

    /*
     * https://github.com/ccurtin/postcss-responsive-font
     * min-font-size max-font-size min-viewport-width max-viewport-width
     * Cannot use custom properties for values.
     */
    font-size-responsive: 12px 20px 400px 1366px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
}

.title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    margin: 0;

    /*
     * https://github.com/ccurtin/postcss-responsive-font
     * min-font-size max-font-size min-viewport-width max-viewport-width
     * Cannot use custom properties for values.
     */
    font-size-responsive: 20px 60px 400px 1366px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: #ffffff;
}
