.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/**
 * Progress indication is implemented by contracting and expanding a child div (`.track`) within a container (`.progress-meter`):
 *   - when progress within a section is 0%, the track will have { width: 0% } (totally out of view).
 *   - when progress within a section is 20%, the track will have { width: 20% }
 *   - when progress within a section is 100%, the track will have { width: 100%) (entirely in view).
 */
.progress-meter {
    width: 100%;
    height: 20px;
    border-right: 2px solid black;
}

.track {
    height: 100%;
    background-color: rgba(218, 223, 225, 0.7);  /* "iron" grey */
    transition: width 0.5s;
}

/**
 * Applied to progress track when progress is less than 100%
 */
.rounded {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
