.header {
    --title-font-weight: 300;
    --title-color: #ffffff;
    --header-padding: 10px;

    transition: top 1s ease-in;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: var(--video-width);
    height: var(--header-height);
    padding: var(--header-padding) var(--gutter);

    display: flex;
}

.header.show {
    top: 0;
}

.title-container {
    cursor: pointer;

    /* flex child */
    flex: 0 0 auto;

    /* flex parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    flex: 0 0 auto; /* don't grow, don't shrink */
    margin: 0;

    font-size: 1.18em; /* 26 / 22 */
}

.nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}