.header {
    --title-font-weight: 300;
    --title-color: #ffffff;
    --header-padding: 10px;

    position: absolute;
    z-index: 999;
    width: var(--video-width);
    height: var(--header-height);
    padding: var(--header-padding) var(--header-padding) var(--header-padding) var(--gutter);

    display: flex;
}

.title-container {
    height: 100%;

    /* flex parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    flex: 0 0 auto; /* don't grow, don't shrink */
    margin: 0;

    /*
     * https://github.com/ccurtin/postcss-responsive-font
     * min-font-size max-font-size min-viewport-width max-viewport-width
     * Cannot use custom properties for values.
     */
    font-size-responsive: 14px 30px 400px 1366px;
}

.nav {
    flex: 1 0 auto; /* grow if you can, don't shrink */
    width: 1px; /* Give the nav literally any absolute value for its width, I have NO idea why this works. Relative size doesn't work. */
}