.header {
    transition: top 1s ease-in;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100vw;
    height: 2.727rem /* 60 / 22 */;
    max-height: 60px;
    padding: 0 var(--gutter);
    background-color: #232323;

    /* flex parent */
    display: flex;
}

.header.show {
    top: 0;
}

.logo-container {
    cursor: pointer;
    margin-right: 9rem;

    /* flex child */
    flex: 0 0 auto;

    /* flex parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 13.636rem;
    height: 1.598rem;
    max-width: 300px;
    max-height: 35.156px;
    object-fit: contain;
    object-position: center;
}

.links-container {
    /* flex child */
    flex: 1 1 auto;

    /* flex parent */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 1335px) {
    .links-container {
        display: none;
    }
}

.link {
    height: 1.598rem;
    border: 2px solid transparent;
    margin: 0 15px 0 0;
    font-size: 0.727rem; /* 16 / 22 */
    flex: 0 0 auto;

    /* flex parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Don't grow link font-size any bigger than 15px. */
@media (orientation: portrait) and (min-width: 1366px) {
    .link {
        font-size: 16px;
    }
}

@media (orientation: landscape) and (min-height: 768px) {
    .link {
        font-size: 16px;
    }
}

.link a {
    margin: 0 0.25rem;
}

.link:hover {
    border-color: #ffffff;
    border-radius: 4px;
}
