.nav {
    position: sticky;
    top: 0;
    width: calc(100% - 30px);
    padding: 15px;
    background-color: white; /* if content is scrolled underneath, hide by making this section entirely opaque */

    /* flex child */
    flex: 0 0 auto;

    /* flex parent */
    display: flex;
    flex-direction: row;
}

.no-border-right {
    border-right: unset;
}
