/**
 * LAYOUT
 */
.section {
    position: absolute;
    transition: top 2s;

    left: 50%;
    transform: translateX(-50%);
}

/**
 *  ANIMATION HOOKS
 */
.initial {
    top: 300vh; /* waaay below viewport */
}

.exited {
    top: -300vh; /* waaay above viewport */
}
