/**
    CONSTANT LAYOUT
 */
.section {
    --gutter: 22px;

    position: absolute;
    transition: top 2s;
    top: 90px; /* TODO */
    composes: two-column-body-height from "../../styles/size.css";
    composes: full-width from "../../styles/size.css";
    z-index: 3000;
}

/**
    ANIMATION HOOKS
 */
.initial {
    top: 300vh; /* waaay below viewport */
}

.exited {
    top: -300vh; /* waaay above viewport */
}
